# Environment file for user defined variables in docker-compose.yml

# 1. CONFIG_PATH: Path to Config.json file
# Ex: CONFIG_PATH="C:\\Config\\Config.json"
CONFIG_PATH=""

# 2. ACCEPT_EULA: Pass 'Y' to accept license terms for Azure SQL Edge and Azure Service Bus emulator.
# Service Bus emulator EULA : https://github.com/Azure/azure-service-bus-emulator-installer/blob/main/EMULATOR_EULA.txt
# SQL Edge EULA : https://go.microsoft.com/fwlink/?linkid=2139274
ACCEPT_EULA="N"

# 3. MSSQL_SA_PASSWORD to be filled by user as per policy : https://learn.microsoft.com/en-us/sql/relational-databases/security/strong-passwords?view=sql-server-linux-ver16
MSSQL_SA_PASSWORD=""

# 4. Time in seconds to wait for SQL to be ready (default is 15 seconds)
SQL_WAIT_INTERVAL=20

# 5. This is the connection string that is used to allow producers and consumers to connect to the service bus
# An example of what can be used is available [https://learn.microsoft.com/en-us/azure/service-bus-messaging/test-locally-with-service-bus-emulator?tabs=docker-linux-container#:~:text=2.To%20spin%20up%20containers%20for%20Service%20Bus%20emulator%2C%20save%20the%20following%20.yaml%20file%20as%20docker%2Dcompose.yaml], though we cannot include it directly due to secret scanning restrictions on this repo.
SERVICE_BUS_CONNECTION_STR=""
